<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
    <link rel="apple-touch-icon" sizes="180x180" href="/typo3conf/ext/ngs_default_template/Resources/Public/Icons/apple-touch-icon.png?v=0.1">
    <link rel="icon" type="image/png" sizes="32x32" href="/typo3conf/ext/ngs_default_template/Resources/Public/Icons/favicon-32x32.png?v=0.1">
    <link rel="icon" type="image/png" sizes="16x16" href="/typo3conf/ext/ngs_default_template/Resources/Public/Icons/favicon-16x16.png?v=0.1">
    <link rel="manifest" href="/typo3conf/ext/ngs_default_template/Resources/Public/Icons/site.webmanifest?v=0.1">
    <link rel="mask-icon" href="/typo3conf/ext/ngs_default_template/Resources/Public/Icons/safari-pinned-tab.svg?v=0.1" color="#5bbad5">
    <link rel="shortcut icon" href="/typo3conf/ext/ngs_default_template/Resources/Public/Icons/favicon.ico?v=0.1">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta name="application-name" content="Designtech"/>

    <meta name="msapplication-square150x150logo" content="/typo3conf/ext/ngs_default_template/Resources/Public/Icons/mstile-150x150.png"/>
    <meta name="msapplication-square310x150logo" content="/typo3conf/ext/ngs_default_template/Resources/Public/Icons/mstile-310x150.png"/>
    <meta name="msapplication-square310x310logo" content="/typo3conf/ext/ngs_default_template/Resources/Public/Icons/mstile-310x310.png"/>
    <meta name="msapplication-TileImage" content="/typo3conf/ext/ngs_default_template/Resources/Public/Icons/mstile-144x144.png"/>
</html>
